
/* Color Codes
Dark Blue:#130f40
 */



*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

/******************************************************* Utility classes *****************************************************/

.padded{padding:5%}
.padded-1{padding:1rem;}

.margin-b-1{margin-bottom: 1rem;}

.center{text-align: center;}
.right{text-align: right;}

.tall-60{min-height:60vh;}
.tall-50{min-height:50vh;}
.tall-40{min-height:40vh;}
.tall-30{min-height:30vh;}

.uppercase{text-transform: uppercase;}



/******************************************************* Typography classes *****************************************************/
.big-text{
    font-weight:900;
    font-size:4rem;
}

h2, h3, h4, h5, h6{
    font-size:2rem;
    font-weight:800;
    margin-bottom:1rem;
}

.white{
    color:white;
}


header h2{
    font-size:10vw;
    font-weight:900;
    color:white;}

p{
    font-weight:300;
    line-height:1.5;
    font-size:1rem;
}


/******************************************************* Image and background classes ****************************************/
.bg-dark{
    background-color: #130f40;
    color:white;
}

.square{padding-bottom:125%;}
.landscape{padding-bottom:100%}


.bg-image{
    background:url('/images/the-bunker-building.jpg');
    background-size:cover;
    background-color:#130f40;
    background-repeat: no-repeat;
    background-position:center;
    opacity:0.75;
}


.bed{
    background-image:url('images/the-bunker-bed.jpg');
}


.opening-image{
    background-image:url(/images/the-bunker-hallway.jpg);
}


.lobby{
    background-image:url('/images/the-bunker-lobby.jpg');
}

.bar{
    background-image:url('/images/the-bunker-bar.jpg');
}

.sheets{
    background-image:url('/images/the-bunker-sheets.jpg');
}

.palm{
    background-image:url('/images/the-bunker-leaf.jpg');
}


/******************************************************* Media Queries *****************************************************/