
/* Color Codes
Dark Green:#1C2A2C
Footer dark:#24282B
 */



*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

/******************************************************* Utility classes *****************************************************/

.padded{padding:5%}
.padded-1{padding:1rem;}
.padded-10{padding:10%;}

.margin-b-1{margin-bottom: 1rem;}

.center{text-align: center;}
.right{text-align: right;}

.tall-100{min-height:100vh;}
.tall-60{min-height:60vh;}
.tall-50{min-height:50vh;}
.tall-40{min-height:40vh;}
.tall-30{min-height:30vh;}



.explore a{
    display:block;
    padding:1rem 0;

}

/******************************************************* Typography classes *****************************************************/
.big-text{
    font-weight:900;
    font-size:4rem;
}

h2, h3, h4, h5, h6{
    font-size:2rem;
    font-weight:800;
    margin-bottom:1rem;
    text-transform:uppercase;
}

.white{
    color:white;
}

.subtle{opacity:0.8;
    font-size:0.9rem;
    padding-top:1rem;}


header h2{
    font-size:10vw;
    font-weight:900;
    color:white;}

footer h2{
    font-size:6vw;
    margin-bottom:0;
}

p, a{
    font-weight:300;
    line-height:1.5;
    font-size:1rem;
}


i{
    font-size:1.5rem;
    color:#1C2A2C;
    padding-left:2%;
}

a:hover,
i:hover{
    color:#9ba6a3;
}


a{
    text-decoration:none;
    color:inherit;
}


/******************************************************* Image and background classes ****************************************/
.bg-dark{
    background-color: #1C2A2C;
    color:white;
}

.square{padding-bottom:125%;}
.landscape{padding-bottom:100%}


.bg-image{
    background:url('/images/the-bunker-building.jpg');
    background-size:cover;
    background-color:#1C2A2C;
    background-repeat: no-repeat;
    background-position:center;
   
}

.bg-padded{
    padding-bottom:30%;
}

.bed{
    background-image:url('images/the-bunker-bed.jpg');
}


.opening-image{
    background-image:url(/images/the-bunker-hallway.jpg);
}


.lobby{
    background-image:url('/images/the-bunker-lobby.jpg');
}

.bar{
    background-image:url('/images/the-bunker-bar.jpg');
}

.sheets{
    background-image:url('/images/the-bunker-sheets.jpg');
}

.palm{
    background-image:url('/images/the-bunker-leaf.jpg');
    
}

.map{background-image:url('/images/map.PNG')}
/******************************************************* Media Queries *****************************************************/


@media(max-width:48em){

h2{margin-top:1rem;}
.big-text{font-size:3rem;}

.flip-column{flex-direction: column-reverse;}


}



@media(max-width:36em){
    .hide-xs{display:none;}
}